@model pro.EntitiesLayer.Models.Product

@{
    ViewBag.Title = "Details";
    
}

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:50px!important">
            <h2 class="text-center"> furkan buraya slider at!</h2>
        </div>
        <div class="col-md-8" style="margin-top:50px!important">
            <!-- Single Product Description -->
            <div class="single_product_desc clearfix">
                <span>@Model.SubCategory.Category.Name kategorisine ait @Model.ProductName</span>
                <a href="cart.html">
                    <h2>@Model.ProductName</h2>
                </a>
                <p class="product-price"><span class="old-price">@Model.UnitPrice</span>@Model.UnitPrice</p>
                <p class="product-desc">Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

                <!-- Form -->
                <form class="cart-form clearfix" method="post">
                    <!-- Select Box -->
                    <div class="select-box d-flex mt-50 mb-30">
                        <select name="select" id="productSize" class="mr-5">

                            @foreach (var item in Model.Size.ToList())
                            {
                                <option value="value">Size: @item.Sizes</option>
                            }

                        </select>
                        <select name="select" id="productColor">
                            @foreach (var item in Model.Colors.ToList())
                            {
                                <option value="value">Color: Black</option>
                            }


                        </select>
                    </div>
                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <button type="submit" name="addtocart" value="5" class="btn essence-btn">Sepete Ekle </button>
                        <!-- Favourite -->
                        <div class="product-favourite ml-4">
                            <a href="#" class="favme fa fa-heart"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

